@charset "UTF-8";
.background-wrapper {
	width: 100%;
	height: 100%;
	background-color: #020031;
}
.body-wrapper {
	position: relative;
}
.header-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 50px 0 50px;
}
.header-wrapper span {
	color: white;
	font-weight: 700;
	font-size: 2.5rem;
}
.login-wrapper {
	position: absolute;
	top: 200px;
	right: 200px;
	
	width: 350px;
	height:230px;
	background-color: #58C2FF;
}
.login-header-wrapper {
	padding: 20px;
}
.login-header-wrapper span {
	font-size: 2rem;
	font-weight: 700;
	color: white;
}
.login-body-wrapper {
	width: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.login-body-wrapper button {
	background-color: #00488F;
	border-style: none;
}
.login-body-wrapper span {
	color: white;
}
.grid-item {
	margin: 3px;
}
.grid-item:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
.login-footer-wrapper {
	padding: 20px 0 0 20px;
}
.login-footer-wrapper span {
	height: 50px;
	font-size: 1.6rem;
	color: white;
}
.background-modal {
	width: 500px;
	height: 450px;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}
.modal-header{
	padding: 25px 0px 25px 30px;
}
.modal-header span {
	font-size: 3rem;
	font-weight: 700;
}
.modal-body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.modal-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.register-form{
	width: 100%;
}